/* Apply background color to the entire page */
body {
    background-color: #f5f5f5;
    color: #4522a9; 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
}
/* Apply styles to the navigation menu */
.navbar {
  background-color: #4522A9;
}

.navbar ul {
  list-style-type: none;
  width: 50%;
  margin: auto;
  padding-left: 9vh;
  display: flex;
  gap: 69px;
  align-items: end;
  justify-content:end;
  align-items: center;
  height: 50px;
}

.navbar li {
  margin: 0;
  padding: 0;
}

.navbar a{
    font-weight: bold;
    transition: background-color 0.3s;
    color: white;
}

.navbar a:hover {
    background-color: #ff5a2c;
    text-decoration: none;
  color: white;
  border-radius: 5px; /* Add rounded corners on hover */
  padding: 5px 10px; /* Add padding on hover for better visual feedback */
}

header {
    background-color: #4522a9; 
    color: white; 
    text-align: center;
    padding: 40px 0;
    border-bottom: 4px solid #ff8a00;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
}

section {
    background-color: white; 
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow */
}

section h2 {
    color: #4522a9;
    font-size: 24px;
    margin-top: 0;
}

ul, ol {
    margin: 10px 0;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

a {
    color: #4522a9;
    text-decoration: none;
    transition: color 0.3s ease-in-out; 
}

a:hover {
    color: #ff8a00; 
    text-decoration: underline;
}

